<footer id="footer">
    <p>&copy; 2014 <a href="#">Artificial Reason</a>, inc. All rights reserved.</p>
</footer>

</div> <!-- boxed -->
</div> <!-- sb-site -->

<div class="sb-slidebar sb-right">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div><!-- /input-group -->

    <h2 class="slidebar-header no-margin-bottom">Navigation</h2>
    <ul class="slidebar-menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="portfolio_topbar.html">Portfolio</a></li>
        <li><a href="page_about3.html">About us</a></li>
        <li><a href="blog.html">Blog</a></li>
        <li><a href="page_contact.html">Contact</a></li>
    </ul>

    <h2 class="slidebar-header">Social Media</h2>
    <div class="slidebar-social-icons">
        <a href="#" class="social-icon-ar rss"><i class="fa fa-rss"></i></a>
        <a href="#" class="social-icon-ar facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="social-icon-ar twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="social-icon-ar pinterest"><i class="fa fa-pinterest"></i></a>
        <a href="#" class="social-icon-ar instagram"><i class="fa fa-instagram"></i></a>
        <a href="#" class="social-icon-ar wordpress"><i class="fa fa-wordpress"></i></a>
        <a href="#" class="social-icon-ar linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="social-icon-ar flickr"><i class="fa fa-flickr"></i></a>
        <a href="#" class="social-icon-ar vine"><i class="fa fa-vine"></i></a>
        <a href="#" class="social-icon-ar dribbble"><i class="fa fa-dribbble"></i></a>
    </div>
</div> <!-- sb-slidebar sb-right -->
<div id="back-top">
    <a href="#header"><i class="fa fa-chevron-up"></i></a>
</div>

<!-- Scripts -->
<!-- Compiled in vendors.js' | prepend: site.baseurl }} -->
<!--
<script src="{{'/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/jquery.cookie.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/imagesloaded.pkgd.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/bootstrap-switch.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/wow.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/slidebars.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/jquery.bxslider.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/holder.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/buttons.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/jquery.mixitup.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/circles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/masonry.pkgd.min.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/jquery.matchHeight-min.js' | prepend: site.baseurl }}"></script>
-->

<script src="{{'/js/vendors.js' | prepend: site.baseurl }}"></script>

<script src="{{'/js/styleswitcher.js' | prepend: site.baseurl }}"></script>

<!-- Syntaxhighlighter -->
<script src="{{'/js/syntaxhighlighter/shCore.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/syntaxhighlighter/shBrushXml.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/syntaxhighlighter/shBrushJScript.js' | prepend: site.baseurl }}"></script>

<script src="{{'/js/app.js' | prepend: site.baseurl }}"></script>
<script src="{{'/js/home_services.js' | prepend: site.baseurl }}"></script>

</body>
