<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>

  <div id="sb-site">
    <div class="boxed">

      <nav class="navbar navbar-static-top navbar-default yamm" role="navigation" id="header">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
            </button>
            <a id="ar-brand" class="navbar-brand" href="{{ site.baseurl }}/"></a>
          </div> <!-- navbar-header -->

          <!-- Collect the nav links, forms, and other content for toggling -->
          <!-- <div class="pull-right">
            <a href="javascript:void(0);" class="sb-icon-navbar sb-toggle-right"><i class="fa fa-bars"></i></a>
          </div> -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="{{ '/tablettes' | prepend: site.baseurl }}">Tablettes</a>
              </li>
              <li>
                <a href="{{ '/autre-devices' | prepend: site.baseurl }}">Autre devices</a>
              </li>
              <li>
                <a href="{{ '/accessoires' | prepend: site.baseurl }}">Accessoires</a>
              </li>
              <li>
                <a href="{{ '/services' | prepend: site.baseurl }}">Services</a>
              </li>
              <li>
                <a href="{{ '/references' | prepend: site.baseurl }}">Références</a>
              </li>
              <li>
                <a href="{{ '/about' | prepend: site.baseurl }}">À propos</a>
              </li>
            </ul>
          </div><!-- navbar-collapse -->
        </div><!-- container -->
      </nav>